:root {
  --Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);
  --White: hsl(0, 0%, 98%);
  /* Weights: 500, 700 */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: clamp(10px, 0.9vw, 18px);
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100vh;
  height: 100dvh;
  background-color: var(--Light-Grayish-Blue);
}

.main-container {
  position: relative;
  background-color: var(--White);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56rem;
  height: 22rem;
  border-radius: 1rem;
  box-shadow: 0rem 2rem 4rem lightgray;
}

.big-img-container {
  /* background-color: aquamarine; */
  width: 40%;
  height: 100%;
}

.drawer-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem 0rem 0rem 1rem;
}

.text-container {
  /* background-color: darkorchid; */
  width: 60%;
  height: 100%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-header {
  font-size: 1.5rem;
  color: var(--Dark-Grayish-Blue);
  font-weight: 700;
}

.text-para {
  color: var(--Desaturated-Dark-Blue);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author-container {
  /* background-color: coral; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.author-img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  margin-right: 1.25rem;
}

.author-info {
  display: flex;
  flex-direction: column;
}

.author-name {
  color: var(--Dark-Grayish-Blue);
  font-weight: 700;
  font-size: 1.125rem;
}

.pub-date {
  font-size: 1rem;
  color: var(--Grayish-Blue);
}

.share-btn {
  border: none;
  border-radius: 50%;
  padding: 0.5rem;
  background-color: var(--Light-Grayish-Blue);
}

.share-btn:active {
  background-color: var(--Dark-Grayish-Blue);
  color: var(--White);
}

.share-popup-container {
  display: none;
}

.popup {
  position: absolute;
  right: -3.5rem;
  bottom: 7.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--Dark-Grayish-Blue);
  color: var(--Grayish-Blue);
  letter-spacing: 0.25rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.popup-triangle {
  position: absolute;
  right: 3.125rem;
  bottom: 6.6rem;
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 1rem solid var(--Dark-Grayish-Blue);
}

.mobile-footer {
  display: none;
}

.show-me {
  display: block;
}

.hide-me {
  display: none;
}

/* MOBILE STYLING */

@media screen and (max-width: 578px) {
  .main-container {
    position: relative;
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0rem 2rem 4rem lightgray;

    .big-img-container {
      /* background-color: aquamarine; */
      width: 100%;
      height: 40%;
    }

    .drawer-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1rem 1rem 0rem 0rem;
    }

    .text-container {
      /* background-color: darkorchid; */
      width: 100%;
      height: 100%;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .text-header {
      font-size: 1.5rem;
      color: var(--Dark-Grayish-Blue);
      font-weight: 700;
    }

    .text-para {
      padding-top: 2rem;
      color: var(--Desaturated-Dark-Blue);
    }

    .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 2rem;
    }

    .share-btn {
      border: none;
      border-radius: 50%;
      padding: 0.5rem;
      background-color: var(--Light-Grayish-Blue);
    }

    .share-btn:active {
      background-color: var(--Dark-Grayish-Blue);
      color: var(--White);
    }

    .share-btn-mobile {
      border: none;
      border-radius: 50%;
      padding: 0.5rem;
      background-color: var(--Desaturated-Dark-Blue);
    }

    .share-popup-container {
      display: none;
    }

    .mobile-footer {
      display: none;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: auto;
      padding: 1.5rem;
      border-radius: 0rem 0rem 1rem 1rem;
      background-color: var(--Dark-Grayish-Blue);
      color: var(--White);
    }

    .share-links-mobile {
      display: flex;
      align-items: center;
      gap: 2rem;
    }
  }
}
